.photo {
	border-radius: 50%;
	width: 100%;
}

header {
	margin: 0 0 20px 0;
}

html, body {
	padding: 0px;
}

#quiz-app {
	margin-top: 20px;
}

#leaderboard {
	margin-bottom: 20px;
}

#logo img {
	max-width:100%;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}